// *first screen
.first_screen{
    position: relative;
    max-width: 100%;
    min-height: 681px;
    background-color: #0e6eaa;
}
.first_screen_container{
    display: flex;
    align-items: center;
}
.first_screen_text{
    max-width: 685px;
    padding-top: 179px;
    .first_screen_name_clinic{
        position: relative;
        font-size: 14px;
        color: #c5c1fe;
        margin-bottom: 11px;
        &::before{
            content: "";
            display: inline-block;
            width: 185px;
            height: 2px;
            background: #c5c1fe;
            position: absolute;
            top: 9px;
            left: -193px;
        
        }
    }
    .first_screen_title{
        font-weight: 700;
        font-size: clamp(39px, 12vw, 62px);
        line-height: 106%;
        color: var(--second-color);
        margin-bottom: 21px;
    }
    .first_screen_description{
        max-width: 480px;
        font-size: 18px;
        color: var(--second-color);
        margin-bottom: 35px;
    }
}
.first_screen_image{
    width: clamp(343px, 60vw, 852px);
    position: absolute;
    right: 0;
    bottom: 0;
}

// *about clinic
.about_clinic{
    padding-top: 115px;
    padding-bottom: 105px;
}
.about_clinic_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
}
.about_clinic_text{
    max-width: 660px;
    .about_clinic_title{
        margin-bottom: 33px;
        span{
            font-weight: 700;
            color: var(--accent-color);
        }
    }
    .about_clinic_description{
        max-width: 576px;
        font-size: 18px;
        line-height: 175%;
        color: #6b6868;
        margin-bottom: 22px;
    }
}
.services{
    max-width: 430px;
  .services_title{
    font-size: 18px;
    line-height: 175%;
    color: var(--main-color);
    margin-bottom: 18px;
  }
  .services_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    .services_item{
        width: 180px;
        position: relative;
        font-size: 20px;
        color: var(--main-color);
        margin-left: 22px;
        &::before{
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            background-color: var(--accent-color);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -22px;
            transform: translateY(-50%);
        }
    }
  }  
}

// *advantages
.advantages{
    max-width: 100%;
    min-height: 200px;
    background-color: var(--section-background-color);
    padding-top: 94px;
    padding-bottom: 93px;
}
.advantages_container{
    display: flex;
    justify-content: space-between;
    column-gap: 51px;
    flex-wrap: wrap;
    row-gap: 61px;
}
.advantage{
    max-width: 326px;
    margin: 0 auto;
    text-align: center;
    .advantages_icon{
        max-width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .advantage_title{
        font-size: 24px;
        color: #000000;
        &:first-child{
            max-width: 272px;
        }
    }
    .advantage_text{
        font-size: 18px;
        line-height: 160%;
        color: #56565e;
    }
}
.advantage_01{
    .advantage_title{
        max-width: 272px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}
.advantage_02{
    .advantage_title{
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}
.advantage_03{
    .advantage_title{
        max-width: 272px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

// *our specialists
.our_specialists{
    max-width: 100%;
    min-height: 200px;
    background-color: var(--second-color);
    padding-top: 91px;
    padding-bottom: 119px;
}
.our_specialists_title{
    text-align: center;
    margin-bottom: 20px;
}
.our_specialists_description{
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: var(--main-color);
    max-width: 471px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
}
.our_specialists_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}
.our_specialists_card{
    width: clamp(154px,30vw,285px);
    min-height: clamp(222px,30vw,411px);
    background-color: var(--accent-color);
    border-radius: 20px;
    box-shadow: 0 0 8px -1px rgba(29, 28, 28, 0.28);
    color: var(--second-color);
    .doctor_name{
        font-weight: 700;
        font-size: 18px;
        margin-top: 27px;
        margin-bottom: 7px;
        margin-left: 24px;
    }
    .doctor_position{
        font-size: 14px;
        margin-left: 24px;
        margin-bottom: 23px;
    }
}

// *prices
.prices{
    position: relative;
    max-width: 100%;
    min-height: 200px;
    background-color: var(--section-background-color);
    padding-top: 75px;
    padding-bottom: 103px;
}
.prices_block{
    border-radius: 20px;
    max-width: 712px;
    min-height: 200px;
    background-color: var(--button-color);
    padding: 55px 0;
}
.prices_title{
    font-size: clamp(23px, 7vw, 52px);
    color: var(--second-color);
    text-align: center;
    margin-bottom: 6px;
}
.prices_description{
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: var(--second-color);
    margin-bottom: 72px;
}
.prices_content{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    max-width: 590px;
    margin: 0 auto;
}
.price{
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    color: var(--second-color);
    border-bottom: dashed 1px var(--second-color);
}
.prices_decoration{
    width: 523px;
    height: 831px;
    background: url(".././images/prices-decoration.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

// *news
.news{
    max-width: 100%;
    min-height: 200px;
    background-color: var(--second-color);
    padding-top: 105px;
    padding-bottom: 116px;
}
.news_title{
    text-align: center;
    margin-bottom: 58px;
}
.news_cards{
    display: flex;
    justify-content: center;
    column-gap: 19px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.news_card{
    width: clamp(212px,70vw,387px);
    min-height: 582px;
    background-color: #f6f6f6;
    border-radius: 20px;
}
.card_content{
    margin: 0 auto;
    padding: 15px;
    .news_image{
        border-radius: 19px;
    }
    .card_top_text{
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        margin-bottom: 14px;
        .card_date{
            font-size: 14px;
            color: #a9a9a9;
        }
        .card_comment{
            font-size: 14px;
            color: #a9a9a9;
            span{
                font-weight: 700;
                font-size: 14px;
                color: var(--main-color);
            }
        }
    }
    .card_title{
        font-size: 22px;
        color: var(--main-color);
        margin-bottom: 11px;
    }
    .card_title_01{
        max-width: 320px;
    }
    .card_title_04{
        max-width: 320px;
    }
    .card_title_05{
        max-width: 300px;
    }
    .card_description{
        font-size: 16px;
        color: #56565e;
        margin-bottom: 9px;
    }
    .card_description_01,
    .card_description_02,
    .card_description_03,
    .card_description_04,
    .card_description_05,
    .card_description_06{
        max-width: 300px;
    }
    .card_link{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

// *reviews
.reviews{
    width: 100%;
    min-height: 690px;
    background: url(".././images/reviews-bg.jpg") center / cover no-repeat;
    padding-top: 90px;
    padding-bottom: 67px;
}
.reviews_container{
    display: flex;
    justify-content: center;
}
.review{
    width: 1060px;

    min-height: 509px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 90px;
    padding-left: 47px;
    padding-right: 19px;
}
.reviews_title{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 70px;
}
.review_info{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 23px;
    padding-bottom: 60px;
}
.review_text{
    display: flex;
    flex-direction: column;
    .review_description{
        max-width: 494px;
        font-size: 18px;
        line-height: 175%;
        color: #6b6868;
    }
}
.contact_info_user{
    display: flex;
    justify-content: space-between;
    .name_user{
        font-weight: 700;
        font-size: 30px;
        line-height: 175%;
        color: var(--accent-color);
    }
    .social_user{
        display: flex;
        column-gap: 20px;
        .link_twitter,
        .link_vk{
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #e7e7e7;
        }
        .user_social_icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

// *make an appointment
.make_an_appointment{
    position: relative;
    max-width: 100%;
    min-height: 200px;
    background-color: var(--section-background-color);
    padding: 117px 0;
}
.block_forma{
    max-width: 425px;
    min-height: 474px;
    border-radius: 20px;
    box-shadow: 0 0 8px 2px rgba(108, 108, 108, 0.25);
    background-color: var(--second-color);
    .forma_title{
        font-size: clamp(23px,20vw,32px);
        color: var(--main-color);
        text-align: center;
        padding-top: 58px;
        margin-bottom: 29px;
    }
    .forma{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items:  center;
        .forma_input{
            width: clamp(239px,35vw,328px);
            height: 62px;
            border: 1px solid #e4e4e4;
            border-radius: 10px;
            padding-left: 20px;
            &::-webkit-input-placeholder{
                font-size: 18px;
                color: #b9b9b9;
            }
        }
        margin-bottom: 20px;
    }
    .forma_description{
        max-width: 280px;
        margin: 0 auto;
        font-weight: 300;
        font-size: 14px;
        color: #747474;
        text-align: center;
    }
}
.make_an_appointment_decoration{
    width: 545px;
    height: 708px;
    background: url(".././images/image-doctor.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}